.table-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1280px;
    margin-top: 323px;
   margin-left: 31px;
    border-collapse: collapse;
   
    

    thead{
        height: 43px;
        background-color: #811AC0;
        display: flex;
        align-items: center;
        justify-content: center;
        
       

    }
    th,td {
        width: 190px;
    }
}